<div class="header-wrapper">
  <nav class="navbar navbar-expand navbar-light  small">
    <div class="d-flex justify-content-between container">
      <a class="navbar-brand " style="font-size: 15px;color: white;" href="#">(Thursday 1st April 2021)</a>

      <div class="d-flex  justify-content-end">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="ri-facebook-fill font"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="ri-twitter-fill font "></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="ri-instagram-fill font"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="ri-youtube-fill font"></i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="ri-search-line font"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="pt-4 pb-4">
            <a href="#"><img src="/assets/logo.jpg" alt="Logo"></a>
          </div>
        </div>

        <div class="col-sm-1 flag1">
          <div class="pt-4 pb-4">
            <a href=""><img class="flag" src="/assets/logo12.gif" alt="Logo"></a>
          </div>
        </div>
    
        <div class="col-sm-7">
          <div class="pt-4 pb-4" >
            <a href="#"><img src="/assets/logo1.jpg" alt="Logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-3 sticky-top">
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2  d-none d-md-inline-block pading" href="#">गृहपृष्ठ</a>
        <a class="py-2  d-none d-md-inline-block pading" href="#">समाचार </a>
        <a class="py-2  d-none d-md-inline-block pading" href="#">अर्थ </a>
        <a class="py-2  d-none d-md-inline-block pading" href="#">खेलकुद </a>
        <a class="py-2  d-none d-md-inline-block pading" href="#">विश्व </a>
        <a class="py-2  d-none d-md-inline-block pading" href="#">मनोरञ्जन</a>
        <a class="py-2  d-none d-md-inline-block pading" href="#">स्वास्थ्य </a>
        <div class="btn-group other" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
            अन्य <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" href="#">पत्रपत्रिका</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">रोचक</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">अन्तरवार्ता</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">बिबिध</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">विचार</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">समाज</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">अपराध</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">फोटो फिचर</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">राष्ट्रिय</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">रिपोर्टर्स खोज</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">विज्ञान-प्रविधि</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">कोरोना भाइरस</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">विविध</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">विशेष</a></li>
          </ul>
        </div>
        <a class="py-2  d-none d-md-inline-block pading eng" href="#">English</a>
      </div>
    </nav>
  </div>
  <div class="container taglist ">
    <ul class="nav d-flex align-items-center">
      <span class="mr-3">TRENDING : </span>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%95%e0%a5%8b%e0%a4%b0%e0%a5%8b%e0%a4%a8%e0%a4%be-%e0%a4%ad%e0%a4%be%e0%a4%87%e0%a4%b0%e0%a4%b8"
          rel="tag"><span class="hastag"> # </span>कोरोना भाइरस</a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.reportersnepal.com/tag/kp" rel="tag"><span
            class="hastag"> # </span>केपी शर्मा ओली</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%aa%e0%a5%8d%e0%a4%b0%e0%a4%b9%e0%a4%b0%e0%a5%80"
          rel="tag"><span class="hastag"> # </span>प्रहरी</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%b2%e0%a4%95%e0%a4%a1%e0%a4%be%e0%a4%89%e0%a4%a8"
          rel="tag"><span class="hastag"> # </span>लकडाउन</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%a8%e0%a5%87%e0%a4%aa%e0%a4%be%e0%a4%b2%e0%a5%80-%e0%a4%95%e0%a4%be%e0%a4%82%e0%a4%97%e0%a5%8d%e0%a4%b0%e0%a5%87%e0%a4%b8"
          rel="tag"><span class="hastag"> # </span>नेपाली कांग्रेस</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%a8%e0%a5%87%e0%a4%aa%e0%a4%be%e0%a4%b2-%e0%a4%95%e0%a4%ae%e0%a5%8d%e0%a4%af%e0%a5%81%e0%a4%a8%e0%a4%bf%e0%a4%b8%e0%a5%8d%e0%a4%9f-%e0%a4%aa%e0%a4%be%e0%a4%b0%e0%a5%8d%e0%a4%9f%e0%a5%80"
          rel="tag"><span class="hastag"> # </span>नेपाल कम्युनिस्ट पार्टी</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%ad%e0%a4%be%e0%a4%b0%e0%a4%a4" rel="tag"><span class="hastag">
            #
          </span>भारत</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%a8%e0%a5%87%e0%a4%95%e0%a4%aa%e0%a4%be" rel="tag"><span
            class="hastag"> # </span>नेकपा</a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.reportersnepal.com/tag/%e0%a4%9a%e0%a5%80%e0%a4%a8"
          rel="tag"><span class="hastag"> # </span>चीन</a></li>
      <li class="nav-item"><a class="nav-link"
          href="https://www.reportersnepal.com/tag/%e0%a4%85%e0%a4%ae%e0%a5%87%e0%a4%b0%e0%a4%bf%e0%a4%95%e0%a4%be"
          rel="tag"><span class="hastag"> # </span>अमेरिका</a></li>
    </ul>
  </div>
  <hr class="line">

  <div class="container">
    <div class="pt-2 mb-4 text-center">
      <div class="investment">
        <img class="img-fluid" src="/assets/investment.jpg" alt="" srcset="">
      </div>
      <div class="image image1">
        <img class="img-fluid" src="/assets/logo3.gif" alt="" srcset="">
      </div>
    </div>
  </div>


  <div class="container pb-2">
    <div class="jumbotron jumbotron-fluid jumb">
      <div class="wrap">
        <a href="https://www.reportersnepal.com/2021/04/531182">
          <h1 class="wrap-head" style="text-align: center;">आकस्मिक मन्त्रिपरिषदको बैठक</h1>
          <h4 class="sub_title" style="color: #00639e;"></h4>
        </a>
        <div class="p-3" style="    text-align: center;color: blue">
          <a href=""><span class="blog-title"><i class="ri-edit-box-fill"></i> -रिपोर्टर्स नेपाल/संवाददाता</span></a>
        </div>
        <div class="container">
          <div class="figure1 d-flex justify-content-center align-items-center d-flex flex-wrap">
            <a href="">
              <div class="figure">
              <img src="/assets/logo4.jpg"alt="Responsive image">
            </div>
              <p class="lead pt-2 " style="text-align: center;">काठमाडौं, चैत २०। सरकारले आकस्मिक मन्त्रिपरिषदको बैठक
                बोलाएको छ । प्रधानमन्त्री निवास
                बालुवाटारमा बिहान ९ मन्त्रिपरिषद्को बैठक बसेको हो । बैठकका एजेण्डा भने अहिले खुलाइएको</p>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="bike">
      <div class="pt-2 mb-4 text-center">
        <div class="investment">
          <img class="img-fluid" src="/assets/logo5.gif" alt="" srcset="">
        </div>
        <div class="image image1">
          <img class="img-fluid" src="/assets/logo6.gif" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-2">
    <div class="jumbotron jumbotron-fluid jumb">
      <div class="wrap">
        <a href="https://www.reportersnepal.com/2021/04/531182">
          <h1 class="wrap-head" style="text-align: center;">देउवाले के हिसाबले प्रचण्डमाथि विश्वास गर्ने ? : डा. अमरेश
            कुमार सिंह (भिडिओसहित)</h1>
          <h4 class="sub_title" style="color: #00639e;"></h4>
        </a>
        <div class="p-3" style="    text-align: center;color: blue">
          <a href=""><span class="blog-title"><i class="ri-edit-box-fill"></i> -रिपोर्टर्स नेपाल/संवाददाता</span></a>
        </div>
        <div class="image-container d-flex justify-content-center align-items-center d-flex flex-wrap">
          <div class="u-img">
            <a href="image">
              <img src="/assets/logo8.jpg" alt="">
            </a>
          </div>
          <a href="text">
            <p style="font-size: 20px; margin: 0 0 16px; padding: 8px 0 0;">काठमाडौं, २० चैत्र । प्रमुख प्रतिपक्षी दल
              नेपाली कांग्रेसका प्रभावशाली नेता तथा सांसद डा. अमरेश कुमार
              सिंहले आफ्नो पार्टीसँग सरकारको नेतृत्व गर्न संख्या नपुग्ने टिप्पणी</p>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="container pb-2">
    <div class="jumbotron jumbotron-fluid jumb">
      <div class="wrap">
        <a href="https://www.reportersnepal.com/2021/04/531182">
          <h1 class="wrap-head" style="text-align: center;">माधव नेपाल पक्षधर ११ स्थायी कमिटी सदस्यहरुले निकाले संयुक्त विज्ञप्ती, ओलीमाथि गम्भीर आरोप</h1>
          <h4 class="sub_title" style="color: #00639e;"></h4>
        </a>
        <div class="p-3" style="    text-align: center;color: blue">
          <a href=""><span class="blog-title"><i class="ri-edit-box-fill"></i> -रिपोर्टर्स नेपाल/संवाददाता</span></a>
        </div>
        <div class="container">
          <div class="figure1 d-flex justify-content-center align-items-center d-flex flex-wrap">
            <a href="">
              <div class="figure">
              <img src="/assets/logo9.jpg"alt="Responsive image">
            </div>
              <p class="lead pt-2 " style="text-align: center;">काठमाडौं, २० चैत्र । नेकपा (एमाले) का वरिष्ठ नेता माधव कुमार नेपाल पक्षधर ११ स्थायी कमिटी सदस्यहरु संयुक्त विज्ञप्ती निकाल्दै अध्यक्ष केपी शर्मा ओलीका पछिल्ला</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center align-items-center d-flex flex-wrap" style="margin-top: -29px;">
    <div class=" mb-4">
      <div class="investment">
        <img class="img-fluid" src="/assets/logo10.gif" alt="" srcset="">
      </div>
      <div class="image image1">
        <img class="img-fluid" src="/assets/logo11.gif" alt="" srcset="">
      </div>
    </div>
  </div>
</div>